

body{
    margin: auto;
    height: auto;
}

#gaz{
    margin-right: 50px;
    font-family: "Dancing Script", cursive;
}
.head{
    width: 100vw;
    position: fixed;
}
.navigation{
    font-family: "Dancing Script", cursive;
    display: flex;
    gap: 20px ;
    padding-left: 20px;
    align-items: baseline;
    border: solid #2E2110 1.5px;
    background-color: #3A2A15;
}
.nav-items{
    text-decoration: none;
    color: #E7D7C1;
}

.main-wrapper{
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("/img/Outside_view.jpg");
    background-size: 150%;  
    display: flex;
    flex-direction: column;
    border: #6E3B0E solid 1px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-header{
    color: #E7D7C1;
    font-size: 15vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3A2A15;
}

.motto{
    font-size: 5vh;
    color: #E7D7C1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3A2A15;
}

.open-times{
    color: #E4D6C4;
    font-size: 4vh;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #3A2A15; 
}

.menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: #6E3B0E solid 1px;
    height: 100vh;
}



.gallery-wrapper{
    height: 100vh;
    border: #6E3B0E solid 1px;   
    display: flex;
    justify-content: center;
}
.header{
    margin-top: 20vh;
}